/* -------------------- *\
   General
\* -------------------- */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* -------------------- *\
   Link
\* -------------------- */

a {
  color: #05a9e3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* -------------------- *\
   Containers
\* -------------------- */

.row {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

/* -------------------- *\
   Media Object
\* -------------------- */

.media {
}

  .media > .img {
    float: left;
  }

  .media > .bd {
    float: left;
    margin-left: 10px;
  }

  .media > .bd-reverse {
    float: right;
  }

/* -------------------- *\
   Modal
\* -------------------- */

.modal-overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.modal {
  background-color: #fff;
  border: 5px solid #ddd;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  height: 300px;
  left: 50%;
  margin: -150px 0 0 -250px;
  position: absolute;
  top: 50%;
  width: 500px;
  z-index: 1002;
}

  .modal h1 {
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px;
    text-align: center;
  }

  .modal p {
    padding: 0 10px;
  }

  .modal button {
    margin-left: 10px;
  }

/* -------------------- *\
   Buttons
\* -------------------- */

.btn {
  background-color: #444;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 5px 8px 6px;
  text-align: center;
  -moz-transition: background-color 0.15s linear;
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}

.btn:hover {
  background-color: #000;
}

/* -------------------- *\
   Spacing
\* -------------------- */

.space {
  margin-bottom: 10px;
  margin-top: 10px;
}

.space-big {
  margin-bottom: 15px;
  margin-top: 15px;
}

.breathe {
  padding: 5px;
}

/* -------------------- *\
   CSS3 Helpers
\* -------------------- */

.soft {
  border-radius: 3px;
}

.softer {
  border-radius: 6px;
}

/* -------------------- *\
   Utilities
\* -------------------- */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}